"*":
  "advanced-open-file":
    createDirectories: true
  "atom-beautify":
    css:
      convert_quotes: "double"
    general:
      _analyticsUserId: "a6282289-8b45-486f-b1cc-0aa913c6ff7c"
      analytics: false
    html:
      beautify_on_save: true
      end_with_newline: true
      indent_inner_html: true
    js:
      beautify_on_save: true
      end_with_comma: true
      end_with_newline: true
      eval_code: true
      indent_size: 2
      indent_with_tabs: true
      jslint_happy: true
      keep_array_indentation: true
    json:
      beautify_on_save: true
      indent_size: 2
      keep_array_indentation: true
    less:
      beautify_on_save: true
    markdown:
      beautify_on_save: true
    php:
      beautify_on_save: true
    typescript: {}
  "atom-material-ui":
    colors:
      abaseColor: "#93d192"
      accentColor: "#e497e5"
      genAccent: true
      paintCursor: true
    ui:
      panelContrast: true
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontFamily: "Menlo"
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  "git-diff":
    showIconsInEditorGutter: true
  "linter-jshint":
    executablePath: "/usr/local/lib/node_modules/jshint/bin/jshint"
    lintInlineJavaScript: true
  "linter-python":
    executablePath: "/usr/local/bin/pylama"
  "linter-tslint":
    fixOnSave: true
  "linter-ui-default":
    panelHeight: 81
  "php-cs-fixer":
    executeOnSave: true
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
      "text.html.php"
    ]
  welcome:
    showOnStartup: false
