"*":
  editor:
    showIndentGuide: true
    fontFamily: "Menlo"
    invisibles: {}
    softWrapAtPreferredLineLength: true
    fontSize: 12
    tabLength: 4
  core:
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
    hideGitIgnoredFiles: true
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
      "text.html.php"
    ]
  welcome:
    showOnStartup: false
  "release-notes":
    viewedVersion: "0.89.0"
  "atom-beautify":
    _analyticsUserId: "a6282289-8b45-486f-b1cc-0aa913c6ff7c"
    analytics: false
    css_convert_quotes: "double"
    html_indent_inner_html: true
    html_end_with_newline: true
    js_end_with_comma: true
    js_end_with_newline: true
    js_eval_code: true
    js_indent_with_tabs: true
    js_jslint_happy: true
    language_json_beautify_on_save: true
    language_js_beautify_on_save: true
    language_html_beautify_on_save: true
    language_less_beautify_on_save: true
    language_markdown_beautify_on_save: true
    language_php_beautify_on_save: true
  "php-cs-fixer":
    executeOnSave: true
